

.nav-menu {
    background-color: rgb(183, 247, 181);
    width: 250px;
    display: flex;
    justify-content: center;
    position: fixed;
    height: 100%;
    left: -100%;
    transition: 850ms;
  }
  
  .nav-menu.active {
    left: 0;
    transition: 350ms;
  }